//Desktop and Tablet
.form {
  position: initial;
  visibility: visible;
  margin-top: 17px;
  .emailLabel,
  .passwordLabel {
    padding-left: 5px;
  }
  .emailInput,
  .passwordInput {
    border: 1px solid black;
    border-radius: 8px;
    width: 340px;
    padding: 14px 20px;
    margin: 6px 0 20px 0;
  }

  .passwordInput {
    margin-bottom: 5px;
  }

  .passwordInputContainer {
    display: flex;

    .showPasswordContainer,
    .showPasswordContainer i {
      position: absolute;
      left: 80%;
      top: 57.5%;
    }
  }

  .signInBtn {
    width: 340px;
    text-align: center;
    color: white;
    background-color: #06d004;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 14px 130px;
    font-weight: bold;
    margin-top: 30px;
  }
  .signInBtn:hover {
    background-color: yellow;
    color: black;
    border: 1px solid #dcd9d9;
  }

  .forgotPassword {
    text-decoration: underline;
    font-size: 12px;
    margin-left: 5px;
  }

  .forgotPassword:hover {
    cursor: pointer;
    color: grey;
  }

  .pageInfo {
    margin-top: 25px;
    font-size: 16px;
    text-align: center;

    a {
      text-decoration: underline;
    }
    a:hover {
      cursor: pointer;
      color: grey;
    }
  }
}

//Mobile
@media screen and (max-width: 426px) {
  .form {
    position: absolute;
    visibility: hidden;
  }
}
