.canvasBackdrop {
  background-image: url("../../../public/assets/Hero\ and\ Backdrop/canvas_bd_w.png");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  display: grid;
  align-items: flex-start;

  .canvas {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: transparent;
  }
}
