.background {
  height: 100%;
  width: 100%;
  background-size: cover;
  filter: blur(0.7px);
  position: absolute;

  .loadingBackground {
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 134);
    background: -moz-linear-gradient(
      49deg,
      rgba(255, 0, 134, 1) 0%,
      rgba(237, 22, 168, 1) 4%,
      rgba(134, 22, 194, 1) 58%,
      rgba(86, 20, 217, 1) 86%
    );
    background: -webkit-linear-gradient(
      49deg,
      rgba(255, 0, 134, 1) 0%,
      rgba(237, 22, 168, 1) 4%,
      rgba(134, 22, 194, 1) 58%,
      rgba(86, 20, 217, 1) 86%
    );
    background: linear-gradient(
      49deg,
      rgba(255, 0, 134, 1) 0%,
      rgba(237, 22, 168, 1) 4%,
      rgba(134, 22, 194, 1) 58%,
      rgba(86, 20, 217, 1) 86%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff0086",endColorstr="#5614d9",GradientType=1);
    position: absolute;
  }

  .backgroundImage {
    width: 100%;
    height: 100%;
    position: absolute;
  }
}

.removePlaceholder {
  animation: fadeOut 8s 1 alternate ease-in-out;
  animation-fill-mode: forwards;
}

//Tablet
@media screen and (min-width: 426px) and (max-width: 1200px) {
  .background {
    filter: none;
    border: none;
  }
}

//Desktop
@media screen and (min-width: 1200px) {
  .background {
    filter: none;
    border: none;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
