.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #001b35;
  padding: 10px 20px;
  color: white;
  background-color: #001b35;
  align-items: center;
  cursor: grab;

  & :nth-child(3) {
    cursor: pointer;
  }
}

.togglePanelIcon_close {
  transform: rotate(270deg);
}

.panelContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.emptyPanel {
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;

  & :nth-child(2) {
    margin-top: 20px;
  }
  p {
    font-size: smaller;
  }
}

.PanelItemTag {
  border: 1px solid white;
  padding: 10px;
  border-radius: 35px;

  i {
    margin-left: 10px;
  }
}
