@use "../lib/standards";

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
}
.infoText {
  margin-bottom: 10px;
}
.input {
  @include standards.input();
  width: 66%;
  padding: 8px 15px;
}

//override button styles from loadingBtn
.resetBtn {
  padding: 17px;
  margin-left: 15px;
  width: 30%;
  background-color: #ffee00;
  color: black;
  font-size: 14px;

  span {
    color: black;
  }

  :hover {
    background-color: transparent;
  }
}

.button--loading::after {
  top: 9.5%;
  left: 360px;
  border-top-color: black;
}

.registerAccountTextLink,
.returnToLoginTextLink {
  @include standards.textLink();
  &:hover {
    cursor: pointer;
    color: grey;
  }
}

.returnToLoginTextLink {
  align-self: flex-end;
  margin-bottom: 15px;
}
