@use "../lib/standards";

.forgotPasswordForm {
  display: flex;
  flex-direction: column;
}
.infoText {
  margin-bottom: 10px;
}
.input {
  @include standards.input();
  width: 66%;
  padding: 8px 15px;
}

//button styles from loadingBtn
@include standards.loadingBtn(
  #ffee00,
  black,
  black,
  9.5%,
  360px,
  30%,
  17px,
  15px,
  14px
);

.registerAccountTextLink,
.returnToLoginTextLink {
  @include standards.textLink();
  &:hover {
    cursor: pointer;
    color: grey;
  }
}

.returnToLoginTextLink {
  align-self: flex-end;
  margin-bottom: 15px;
}
