@use "../lib/standards";
//Desktop and Tablet
.form {
  position: initial;
  visibility: visible;
  margin-top: 17px;
  .emailLabel,
  .passwordLabel {
    font-weight: 900;
    letter-spacing: 1.5px;
    padding-left: 5px;
  }
  .emailInput,
  .passwordInput {
    @include standards.input;
  }

  .passwordInput {
    margin-bottom: 5px;
  }

  .passwordInputContainer {
    display: flex;

    .showPasswordContainer,
    .showPasswordContainer i {
      position: absolute;
      left: 80%;
      top: 57.5%;
    }
  }
}

.forgotPassword {
  @include standards.textLink();
  margin-left: 5px;
  &:hover {
    cursor: pointer;
    color: grey;
  }
}

.pageInfo {
  margin-top: 25px;
  font-size: 16px;
  text-align: center;

  a {
    text-decoration: underline;
  }
  a:hover {
    cursor: pointer;
    color: grey;
  }
}

//button styles from loadingBtn
@include standards.loadingBtn(
  #06d004,
  white,
  white,
  56.5%,
  0,
  340px,
  14px 130px,
  0,
  18px,
  #09f605
);

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}

//Mobile
@media screen and (max-width: 426px) {
  .form {
    position: absolute;
    visibility: hidden;
  }
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
