.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid grey;
  padding: 10px 20px;
  color: white;

  &:hover {
    cursor: pointer;
  }

  .togglePanel {
    top: 7px;
    position: relative;
  }
}

.panelContainer {
  width: 100%;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
}
.emptyPanel {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: grey;

  p {
    margin-top: 20px;
  }
}
