.logoTop {
  width: 260px;
  position: relative;
  left: 20px;
  margin-bottom: 10px;
}

.openingProject {
  font-size: 14px;
}

//much smaller screens?
@media screen and (max-width: 320px) {
  .logoTop {
    width: 227px;
  }
}
//tablet
@media screen and (min-width: 426px) and (max-width: 1200px) {
  .logoTop {
    width: 340px;
    left: 30px;
  }
}

//Desktop
@media screen and (min-width: 1200px) {
  .logoTop {
    width: 340px;
    left: 30px;
  }
}
