.Modal {
  width: 350px;
  height: fit-content;
  background-color: white;
  display: flex;
  justify-self: flex-end;
  grid-row: 1/1;
  align-self: flex-start;
  margin: 35px;
  z-index: 9000000000000;
  transition: all 5ms ease-in-out;
  box-shadow: rgb(210, 210, 210) 0px 4px 6px;
}

.modalInactive {
  position: absolute;
  left: 100000px;
}
