$border-radius-value: 7px;

.notification {
  display: flex;
  position: absolute;
  width: 90vw;
  margin: 10px;
  z-index: 5;
  box-shadow: rgb(210, 210, 210) 0px 4px 6px;
  border-radius: $border-radius-value;
  align-self: flex-start;
  justify-self: center;
  margin-top: 65px;

  .colorBar {
    width: 3%;
    border-top-left-radius: $border-radius-value;
    border-bottom-left-radius: $border-radius-value;
  }
  .iconAndText {
    background-color: white;
    width: 97%;
    border-top-right-radius: $border-radius-value;
    border-bottom-right-radius: $border-radius-value;
    display: flex;

    .icon {
      color: #2f86eb;
      // position: relative;
      top: 26px;
      margin: 0 20px;
      font-size: 15px;
      position: absolute;
      display: none;
    }
    .closeBtn {
      width: fit-content;
      height: fit-content;
      text-align: end;
      padding: 10px 15px 0 0;
      font-size: 14px;
      text-decoration: underline;
      cursor: pointer;
      color: grey;
      &:hover {
        color: rgb(232 36 36);
      }
    }
  }

  .content {
    color: rgb(16 16 32);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    font-size: small;
    padding: 10px;
    text-align: justify;
    line-height: 20px;
  }
}

//tablet
@media screen and (min-width: 700px) and (max-width: 1200px) {
  .notification {
    width: 450px;
    height: 80px;
    margin: 100px 50px 50px 50px;
    .iconAndText {
      .icon {
        position: relative;
        display: initial;
      }
    }
  }
}

//Desktop
@media screen and (min-width: 1200px) {
  .notification {
    width: 450px;
    height: 80px;
    margin: 100px 50px 50px 50px;
    .iconAndText {
      .icon {
        position: relative;
        display: initial;
      }
    }
  }
}

.fadeIn {
  animation: fadeIn 2s 1 alternate ease-in-out;
  animation-fill-mode: forwards;
}
.fadeOut {
  animation: fadeOut 2s 1 alternate ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
    display: initial;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    display: none;
  }
}
