.PanelItemContainer {
  &::-webkit-scrollbar-track {
    border-radius: 10px;
  }

  &::-webkit-scrollbar {
    width: 10px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #555555;
    border: 2px solid #555555;
    border-radius: 10px;
  }

  .PanelImage {
    background-color: white;
    border: 1px solid grey;

    width: 100%;
    height: 320px;
  }

  .PanelText {
    text-align: justify;
    padding: 20px;
    font-size: smaller;
  }
}
